<!doctype html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="./../css/style.css" rel="stylesheet">
</head>
<body class="text-black font-suit">
  <div class="px-5 md:w-[500px] mx-auto">
    <h1 class="w-[230px] mx-auto mt-[70px] md:mt-[100px]">
      <a href="/" class="">
        <picture>
          <source srcset="/assets/images/naver.svg" /> 
          <img class="" src="/assets/images/naver.png" alt="네이버"/>
        </picture>
      </a>
    </h1>

    <form action="/" class="flex flex-col gap-6 mt-11 md:mt-12">
      <div class="relative">
        <label for="userEmail" class="sr-only">아이디</label>
        <input class="euid-input peer" type="email" id="userEmail" name="userEmail" required placeholder="아이디"/>
        <span class="absolute hidden text-xs peer-invalid:block text-warning">아이디는 이메일 형식이어야 합니다.</span>
      </div>
      <div class="">
        <label for="userPw" class="sr-only">비밀번호</label>
        <input class="euid-input peer" type="password" id="userPw" name="userPw" required placeholder="비밀번호"/>
      </div>
      <div class="flex flex-row justify-between order-1">
        <div class="relative">
          <input class="peer euid-checkbox euid-focus" type="checkbox" id="saveLogin" name="saveLogin" />
          <label for="saveLogin" class="euid-checkbox-label">로그인 상태 유지</label>
        </div>
  
        <div class="flex flex-row gap-2">
          <a href="/" class="euid-focus" target="_blank" rel="noopener noreferrer">IP 보안</a>
    
          <div class="relative">
            <input type="checkbox" id="ipSecurity" name="ipSecurity" class="peer euid-focus euid-switch" />
            <label for="ipSecurity" class="euid-switch-label"><span class="sr-only">IP 보안</span></label>
          </div>
        </div>
      </div>

      <button type="button" class="euid-button euid-focus">로그인</button>
    </form>
  </div>
</body>
</html>