<!doctype html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Avatars 예제</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="./../css/style.css" rel="stylesheet">
</head>
<body class="flex flex-col gap-5 m-5 font-suit">
  <div class="flex flex-row gap-8">
    <figure class="relative w-20 h-20">
      <img class="rounded-full" src="/src/assets/faces/face1.jpg" alt="" />
      <figcaption class="absolute bottom-0 right-0 w-6 h-6 rounded-full bg-primary shadow-[0_0_0_2px_rgb(255,255,255)]"><span class="sr-only">온라인</span></figcaption>
    </figure>
    <figure class="relative w-20 h-20">
      <img class="rounded-full" src="/src/assets/faces/face1.jpg" alt="" />
      <figcaption class="absolute bottom-0 right-0 w-6 h-6 rounded-full bg-gray-10 border-4 border-gray-20 shadow-[0_0_0_2px_rgb(255,255,255)]"><span class="sr-only">오프라인</span></figcaption>
    </figure>
  </div>
  <hr />
  <div class="hidden">
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face1.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face2.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face3.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face4.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face5.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face6.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face7.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face8.jpg" alt=""
      /></a>
    </figure>
  </div>
</body>
</html>