<!doctype html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>네비게이션</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="./../css/style.css" rel="stylesheet">
</head>

<body class="font-suit">
  <!-- 최소 너비 320px / 안쪽 여백 24px / 플렉스(row, 줄바꿈 허용) 갭 16px / 배경 white / 768px 이상에서는 줄바꿈 허용 X, 메인 축 양쪽 정렬 / 교차축 가운데 정렬 / 박스그림자로 아래 경계선 만들기 / 스티키 포지션으로 지정해서 스크롤 시 헤더 고정 /  -->
  <div
    class="fixed top-0 left-0 right-0 min-w-80 flex flex-row flex-wrap items-center justify-between gap-6 p-12 mx-auto bg-white border-b-2 md:flex-nowrap">
    <!-- 로고 크기는 부모 크기 기준 1/12로 지정하고 최소 너비는 96px로 지정 -->
    <h1 class="w-1/12 sr-only min-w-24">네이버</h1>
    <span><a href="/" class=""><img src="./../assets/images/naver.png" alt=""></a></span>
    <!-- 모바일 환경에서 배치 순서는 마지막으로 지정 / 768px 이상일 경우 순서는 마크업 순서로 변경 / 가로 크기는 100%, 768px이상에서는 auto로 변경 -->
    <nav class="order-1 w-full md:order-none md:w-auto">
      <!-- 메뉴 목록은 그리드를 사용하여 배치 / 그리드 컬럼은 5개, 768px이상의 경우 그리드 컬럼은 10개 -->

      <ul class="grid grid-cols-5 md:grid-cols-10">
        <!-- a 요소에 스타일링 글자 색상 gray-30 / 폭이 좁아질 때 줄바꿈이 생기지 않도록 처리 / 그리드 셀 내부에서 글자는 가운데 정렬 -->
        <!-- / block 설정 / 안쪽으로 8px 여백 지정 / 마우스 오버나 키보드 포커스 시 언더라인 스타일 지정 / 언더라인 offset은 8 -->
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">메일</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">카페</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">블로그</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">쇼핑</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">뉴스</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">증권</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">부동산</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">지도</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">웹툰</a>
        </li>
        <li><a href=""
            class="block p-2 text-center outline-none text-gray-30 text-nowrap hover:underline hover:underline-offset-8 focus:underline focus:underline-offset-8">치지직</a>
        </li>
      </ul>
    </nav>

    <div class="shrink-0">
      <a href=""
        class="px-5 py-2 text-white border-none rounded-md hover:to-red-border hover:from-indigo-500 bg-gradient-to-r bg-primary focus:to-red-border focus:from-indigo-500">로그인</a>
      <a href=""
        class="px-5 py-2 text-white border-none rounded-md hover:to-red-border hover:from-indigo-500 bg-gradient-to-r bg-primary focus:to-red-border focus:from-indigo-500">회원가입</a>
    </div>

  </div>
  <p>'함께 성장하는 바른 교육' 이듬(EUID)과 멋쟁이 사자처럼 태킷(Techit) 스쿨이 만났습니다. '이듬' 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식
    전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다. 멋쟁이 사자처럼 태킷 스쿨은 '함께'의 가치를 중요하게 생각합니다. 5년이 지나도, 10년이
    지나도 IT 업계에 필요한 인재를 육성하는 교육을 제공하고, 기업의 HRD 파트너로 존재할 것이며 국내 대표 IT 교육 회사인 만큼 더 좋은 교육이 무엇인지를 끊임없이 고민하는 회사로 자리매김할 것입니다.
  </p>
  <p>'함께 성장하는 바른 교육' 이듬(EUID)과 멋쟁이 사자처럼 태킷(Techit) 스쿨이 만났습니다. '이듬' 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식
    전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다. 멋쟁이 사자처럼 태킷 스쿨은 '함께'의 가치를 중요하게 생각합니다. 5년이 지나도, 10년이
    지나도 IT 업계에 필요한 인재를 육성하는 교육을 제공하고, 기업의 HRD 파트너로 존재할 것이며 국내 대표 IT 교육 회사인 만큼 더 좋은 교육이 무엇인지를 끊임없이 고민하는 회사로 자리매김할 것입니다.
  </p>
  <p>'함께 성장하는 바른 교육' 이듬(EUID)과 멋쟁이 사자처럼 태킷(Techit) 스쿨이 만났습니다. '이듬' 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식
    전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다. 멋쟁이 사자처럼 태킷 스쿨은 '함께'의 가치를 중요하게 생각합니다. 5년이 지나도, 10년이
    지나도 IT 업계에 필요한 인재를 육성하는 교육을 제공하고, 기업의 HRD 파트너로 존재할 것이며 국내 대표 IT 교육 회사인 만큼 더 좋은 교육이 무엇인지를 끊임없이 고민하는 회사로 자리매김할 것입니다.
  </p>
  <p>'함께 성장하는 바른 교육' 이듬(EUID)과 멋쟁이 사자처럼 태킷(Techit) 스쿨이 만났습니다. '이듬' 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식
    전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다. 멋쟁이 사자처럼 태킷 스쿨은 '함께'의 가치를 중요하게 생각합니다. 5년이 지나도, 10년이
    지나도 IT 업계에 필요한 인재를 육성하는 교육을 제공하고, 기업의 HRD 파트너로 존재할 것이며 국내 대표 IT 교육 회사인 만큼 더 좋은 교육이 무엇인지를 끊임없이 고민하는 회사로 자리매김할 것입니다.
  </p>

</body>

</html>