<!doctype html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>애플 푸터 다단레이아웃</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="./../css/style.css" rel="stylesheet">
</head>
<body class="font-suit">
  <!-- 5단 레이아웃(다단 레이아웃) / 푸터 메뉴 영역 여백 지정 (space-*) / 가로크기 (960px) / 가운데 배치 / 상단 테두리 선 slate-300 -->
   <div class="columns-5 space-y-4 w-[960px] mx-auto border-t border-t-slate-300 pt-5 mt-5">
    <div class="">
      <!-- 텍스트 크기 14px / 굵기 600 / 텍스트 색상 gray-40 -->
      <strong class="text-sm font-semibold text-gray-40">쇼핑 및 알아보기</strong>
      <ul>
        <!-- 글자색상 gray-20/ 글자 크기 14px -->
        <li><a href="/" class="text-sm text-gray-20">스토어</a></li>
        <li><a href="/" class="text-sm text-gray-20">Mac</a></li>
        <li><a href="/" class="text-sm text-gray-20">iPad</a></li>
        <li><a href="/" class="text-sm text-gray-20">iPhone</a></li>
        <li><a href="/" class="text-sm text-gray-20">Watch</a></li>
        <li><a href="/" class="text-sm text-gray-20">AirPods</a></li>
        <li><a href="/" class="text-sm text-gray-20">TV 및 홈</a></li>
        <li><a href="/" class="text-sm text-gray-20">AirTag</a></li>
        <li><a href="/" class="text-sm text-gray-20">액세서리</a></li>
      </ul>
    </div>
    <div class="break-after-column">
      <strong class="text-sm font-semibold text-gray-40">Apple 지갑</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">지갑</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Pay</a></li>
      </ul>
    </div>
    <div class="">
      <strong class="text-sm font-semibold text-gray-40">계정</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">Apple ID 관리</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Store 계정</a></li>
        <li><a href="/" class="text-sm text-gray-20">iClude.com</a></li>
      </ul>
    </div>
    <div class="break-after-column">
      <strong class="text-sm font-semibold text-gray-40">엔터테인먼트</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">Apple One</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple TV+</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Music</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Arcade</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Podcasts</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Books</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Store</a></li>
      </ul>
    </div>
    <div class="break-after-column">
      <strong class="text-sm font-semibold text-gray-40">Apple Store</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">매장 찾기</a></li>
        <li><a href="/" class="text-sm text-gray-20">Genius Bar</a></li>
        <li><a href="/" class="text-sm text-gray-20">Today at Apple</a></li>
        <li><a href="/" class="text-sm text-gray-20">그룹 예약</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple 캠프</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Store 앱</a></li>
        <li><a href="/" class="text-sm text-gray-20">인증 리퍼비쉬 제품</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple Trade In</a></li>
        <li><a href="/" class="text-sm text-gray-20">할부 방식</a></li>
        <li><a href="/" class="text-sm text-gray-20">주문 상태</a></li>
        <li><a href="/" class="text-sm text-gray-20">쇼핑 도움말</a></li>
      </ul>
    </div>
    <div class="">
      <strong class="text-sm font-semibold text-gray-40">비즈니스</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">Apple과 비즈니스</a></li>
        <li><a href="/" class="text-sm text-gray-20">비즈니스를 위한 제품 쇼핑하기</a></li>
      </ul>
    </div>
    <div class="break-after-column">
      <strong class="text-sm font-semibold text-gray-40">교육</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">Apple 교육</a></li>
        <li><a href="/" class="text-sm text-gray-20">초중고용 제품 쇼핑하기</a></li>
        <li><a href="/" class="text-sm text-gray-20">대학 생활을 위한 제품 쇼핑하기</a></li>
      </ul>
    </div>
    <div class="">
      <strong class="text-sm font-semibold text-gray-40">Apple의 가치관</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">손쉬운 사용</a></li>
        <li><a href="/" class="text-sm text-gray-20">교육</a></li>
        <li><a href="/" class="text-sm text-gray-20">환경</a></li>
        <li><a href="/" class="text-sm text-gray-20">개인정보 보호</a></li>
        <li><a href="/" class="text-sm text-gray-20">공급망</a></li>
      </ul>
    </div>
    <div class="">
      <strong class="text-sm font-semibold text-gray-40">Apple 정보</strong>
      <ul>
        <li><a href="/" class="text-sm text-gray-20">Newsroom</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple 리더십</a></li>
        <li><a href="/" class="text-sm text-gray-20">채용 안내</a></li>
        <li><a href="/" class="text-sm text-gray-20">윤리 및 규정 준수</a></li>
        <li><a href="/" class="text-sm text-gray-20">이벤트</a></li>
        <li><a href="/" class="text-sm text-gray-20">일자리 창출</a></li>
        <li><a href="/" class="text-sm text-gray-20">Apple 연락처</a></li>
      </ul>
    </div>
  </div>    
</body>
</html>